.back{
    background-image: url(./concept-payment-terminals-concept-payment-terminals-tick-check-marks-screen-social-media-documents-posters-vector-170009461.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}